* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-image: linear-gradient(to right, #8a64ac, #693c08);
}
body h1{
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
  color: #edeef0;
  text-shadow: 5px 6px 5px rgba(29, 52, 136, 0.5);
}
.container {
  width: 100%;
  padding: 10px;
}
.child-container {
  width: 40%;
  background-color: #fff;
  margin: 100px auto ;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 {
  color: #002765;
}
.todo-app img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
  background: transparent;
  font-size: 1.2rem;
}
button {
  outline: none;
  border: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 9px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(checked.png);
}
ul li span {
  position: absolute;
  right: -10px;
  width: 40px;
  height: 40px;
  top: 5px;
  font-size: 22px;
  color: red;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #b7baba;
}
.task-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive Section */

@media (max-width: 1024px) {
  .child-container {
    width: 55%;
  }
  ul li span {
    right: -20px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    gap: 10px;
    background: white;
  }
  .child-container {
    padding: 30px 20px 60px;
    margin-top: 100px;
    width: 90%;
  }

  .row {
    flex-direction: column;
    align-items: stretch;
  }

  input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #edeef0;
    padding: 15px;
  }

  button {
    margin: auto;
    width: 80%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 30px;
  }
  ul li span {
    right: -15px;
  }
}
